.gallery {
    display: flex;
    justify-content: center;
  }
  
  .thumbnails {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    z-index: 1000;
  }
  
  .thumbnails img {
    width: 100px; 
    margin-right: 10px;
    cursor: pointer;
  }
  
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 999;
  }
  
  .larger-image img {
    max-width: 100%;
    max-height: 100%;
  }
  
  .larger-image p {
    color: white;
  }
  
  @media (max-width: 768px) {
    .thumbnails {
      top: 10px;
    }
  }
  